body {
    background-color: #33a5d9 ;
   

}

section {
  
  border-color: grey;
  border-width: 3px;
  
}

header {
      background-color: white;
      color: #1a1a1a;
      padding: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
  }
  aside {
    background-color: white ;
    float: right; 
    
    width: 333px;
    color: #1a1a1a;
    padding-left: 0px;
    margin-left: 5px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 130%;
}


 
 nav form {
  float: left;
 }

 .submit {
      background-color: #cdeac0;
      margin-top: 10px;
      border-radius: 5px;
 }

  .color-settings {
      background-color: #33a5d9;
      border-width: 1px;
      border-color: gray;
      border-style: dotted;
      padding: 5px;
}

.color-choser {
  background-color: white;
  padding: 5px;
  /*  okraj zelenej farby po ľavom boku výberu farby */
  border-left: 4px;
  border-color: #33a5d9;
  border-left-style: solid;
  /* okraj zelenej farby po pravom boku výberu farby */
  border-right: 4px;
  border-color: #33a5d9;
  border-right-style: solid;

}

 nav input label {
   padding-bottom: 10px;
 }

nav ul{
   
   list-style-type: none;
   margin: 0;
   padding: 10px;
   overflow: hidden;
   background-color: #333333;
}

/* common li-list item state style  */
 nav li a {
    float: left;
    padding-left: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-transform: uppercase;
    
    
  }

  aside li a {
    
    padding-left: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
    text-transform: uppercase;
    
    
  }
/*
   handling of style change for appropriate activation state of hyperlinks */
  aside, nav li a:hover {
    color: #33a5d9;
  }

  /* visited hypwerlinks */
  aside, nav li a:visited {
    color: #ccc;
  }

  aside, nav li a:active {
    color: #fff;
  }
 
  /* normal state of hyperlink */
  nav li a:link {
    color: #fff;
  }

  article {
    /* background-color: white; */
    color: #222;
   /* padding: 15px; */
    font-family: Arial, Helvetica, sans-serif;
    border-left: 4px;
    border-color: #33a5d9;
    border-left-style: solid;

    /* okraj zelenej farby po pravom boku sekcie článkov */
    border-right: 4px;
    border-color: #33a5d9;
    border-right-style: solid;
    clear: both;
    
}

article h1 {
    background-color: white;
    font-size: 30px;
    color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    
}
 footer {
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;
    clear:both; /*clear upper elements from inclining of content - clear on boath sides */
    
    padding: 15px;
}

footer .column {
    float: left;
    width: 33.33%;
    box-sizing: border-box; /* for fitting columns into one row !!! */
    
  }
  iframe {
    
    border-bottom: 20px;
    
  }

  section {
    float: left;
    width: 33.33%;
    box-sizing: border-box; /* for fitting columns into one row !!! */
    padding-right: 10px;
    
    
  }

  .clanky {
    float: left;
    
   
    
  }
  
  /* Clear floats after the columns */
  footer .row:after {
    
    content: "";
    display: table;
    clear: both;
    background-color: grey;
    
  }

  footer .column{
    padding : 5px;
    
    background-color: #AAA;
    border:4px;
    border-color: grey;
    border-style: dotted;

    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.68); 
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.68);
    
    
    
  }

  footer h4{
    padding-left : 10px;
    color: #222;
    
    
  }

  section .column {
    float: left;
    width: 33.33%;
    border: left;
    /* border-style: solid; */
    border-left-color: #3c763d;
    text-align: left;
    border-left-width: 4px;
    border-left-style: solid;
    
    background-color: #afd76b;
    box-sizing: border-box; /* for fitting columns into one row !!! */
    padding: 10px;
  }

p.column-header {
    text-transform: capitalize; 
    text-transform: uppercase;
  }

   p.column {
    text-align: justify ;
    text-justify: auto;
    padding-bottom: 5px;
  }

 
  
  /* Clear floats after the columns */
  section .row:after {
    content: "";
    display: table;
    clear: both;
   
  }


video {
    
    padding-bottom: 15px;
    
}

p  {

  justify-content: ;

}
